<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue2.0+webpack2.0实现本地todo应用</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <link rel="shortcut icon" type="image/x-icon" href="http://oiukswkar.bkt.clouddn.com/bitbug_favicon.ico">
    </head>
    <body>
        <div id="wrapper">
            <div class="header">Todo应用</div>
            <div class="en-input">
                <div class="en-inner">
                    <input type="text" @keyup="isEnter" placeholder="添加任务" v-model="tvalue">
                    <span class="add-data" @click="addData">+</span>
                </div>
            </div>
            <div class="en-show">
                <div class="en-target">
                    <div class="en-last"><span v-cloak>{{enRest}}</span><i>项任务</i></div>
                    <div class="en-middle">
                        <span :class="{on: type=='all'}" @click="changeType('all')">全部</span>
                        <span :class="{on: type=='active'}" @click="changeType('active')">未完成</span>
                        <span :class="{on: type=='completed'}" @click="changeType('completed')">已完成</span>
                        <span class="clearnote" @click="clearnotes">清除已完成</span>
                    </div>
                </div>
            </div>
            <div class="content-show">
                <div class="con-item" v-for="(item,index) in listGroup" v-bind:class="{finish: item.status == 1}">
                    <span class="toggle" @click="toggleCircle(index)"></span>
                    <p @click="showClick(item.content)" v-cloak>{{item.content}}</p>
                    <i class="add-time" v-cloak>{{item.time}}</i>
                    <em class="remove" @click="removeSingle(index)">删除</em>
                </div>
            </div>
            <template>
                <div class="modal" v-if="isShow" @click="isShowClick">
                    <div class="modal-cover"></div>
                    <div class="modal-con">
                        <div class="headr">{{wellNown}}</div>
                        <div class="render">
                            {{isShowdata}}
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <script src="dist/bundle.js"></script>
    </body>
</html>
